<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <exclude>tests/Feature/_archive</exclude>
            <exclude>tests/Feature/Archive</exclude>
        </testsuite>
        <testsuite name="Bougie">
            <file>tests/Unit/BougieTest.php</file>
            <file>tests/Feature/BougieControllerTest.php</file>
            <file>tests/Feature/BougieDetailTest.php</file>
            <file>tests/Feature/BougieMigrationTest.php</file>
            <file>tests/Feature/BougieStockAlertObserverTest.php</file>
            <file>tests/Feature/BougieImageUploadTest.php</file>
            <file>tests/Feature/CatalogueTest.php</file>
            <file>tests/Feature/CatalogueApiTest.php</file>
            <file>tests/Feature/DetailBougieTest.php</file>
            <file>tests/Feature/KiosqueTest.php</file>
            <file>tests/Feature/CartTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- SQLite in-memory pour tests -->
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="APP_KEY" value="base64:cn+zyBBQK2rw3lKRO2vlHjp0jJ2XVvN0MB5FKugWaVI="/>
    </php>
</phpunit>
